@font-face {
    font-family: "HelveticaNeue Regular";
    src: url("./fonts/HelveticaNeueCyr-Roman.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "HelveticaNeue Medium";
    src: url("./fonts/HelveticaNeueCyr-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "HelveticaNeue Bold";
    src: url("./fonts/HelveticaNeueCyr-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "SplineSansMono";
    src: url("./fonts/SplineSansMono-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("./fonts/PlayfairDisplay-Italic.ttf");
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1B1A1A;
}

.video_slider {
    max-width: 1440px;
    min-height: 1024px;
    margin: 0 auto;
    background-image: url("./content/bg.png");
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.video_swiper {
    padding: 240px 0 !important;
    z-index: 10 !important;
}

.slider-item {
    display: flex;
    justify-content: center;
}

a.slider-link {
    display: inline-block;
    width: 682px;
    min-height: 387px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 300ms linear;
}

a.slider-link:hover {
    scale: 1.04;
}

.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 25px !important;
    height: 17px !important;
    background-color: transparent !important;
    opacity: 1 !important;
    margin: 0 !important;
    position: relative !important;
}

.swiper-pagination-bullet span {
    font-family: "SplineSansMono", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    opacity: 1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active span:before {
    content: url("./content/slider_icon.svg");
    width: 19px;
    height: 19px;
    position: absolute;
    animation: sliderPoint 1000ms linear;
    z-index: 9999;
}

.swiper-pagination-bullet:nth-child(1).swiper-pagination-bullet-active span:before,
.swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active span:before,
.swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active span:before,
.swiper-pagination-bullet:nth-child(4).swiper-pagination-bullet-active span:before {
    top: -10px;
    left: -9px;
}

.swiper-pagination-bullet:nth-child(6).swiper-pagination-bullet-active span:before,
.swiper-pagination-bullet:nth-child(7).swiper-pagination-bullet-active span:before,
.swiper-pagination-bullet:nth-child(8).swiper-pagination-bullet-active span:before,
.swiper-pagination-bullet:nth-child(9).swiper-pagination-bullet-active span:before {
    top: -10px;
    left: 8px;
}

.swiper-pagination-bullet:nth-child(5).swiper-pagination-bullet-active span:before {
    top: -10px;
    left: -9px;
}

.swiper-pagination-bullet:nth-child(5) {
    width: 10px !important;
}

.swiper-slide-prev {
    animation: sliderAnimActive 2500ms linear;
}

.swiper-slide-active {
    animation: sliderAnimNext 2500ms linear;
}

.swiper-slide-next {
    animation: sliderAnimActive 2500ms linear;
}

@keyframes sliderPoint {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes sliderAnimActive {
    0% {
        opacity: 1;
        scale: 1;
    }
    100% {
        opacity: 0;
        scale: 0.3;
    }
}

@keyframes sliderAnimNext {
    0% {
        opacity: 0;
        scale: 0.3;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.video_slider-type {
    font-family: "SplineSansMono", sans-serif;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    z-index: 9999;
    position: absolute;
    top: 44px;
    left: calc(50% - 42px);
}

.video_slider-menu {
    font-family: "SplineSansMono", sans-serif;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    z-index: 9999;
    position: absolute;
    top: 44px;
    right: 43px;
    display: flex;
    align-items: center;
}

.video_slider-circle {
    background-color: #9F0000;
    display: inline-block;
    border-radius: 50%;
    width: 12px !important;
    height: 12px;
    content: " ";
    margin-right: 10px;
}

.video_slider-time {
    font-family: "SplineSansMono", sans-serif;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    z-index: 9999;
    position: absolute;
    bottom: 44px;
    left: 43px;
}

.video_slider-next {
    font-family: "SplineSansMono", sans-serif;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 13px;
    left: calc(50% - 50px);
}

.video_slider-next svg {
    margin-top: 20px;
}

.video_slider-border {
    width: 724px;
    height: 429px;
    background-image: url("content/border2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    z-index: 11;
    pointer-events: none;
}

.video_slider-aim {
    width: 100%;
    height: 100%;
    background-image: url("content/border1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    z-index: 11;
    pointer-events: none;
}

.video_slider-titles {
    bottom: 200px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999;
    pointer-events: none;
}

.video_slider-title {
    font-family: "HelveticaNeue Medium", sans-serif;
    font-size: 54px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 1s linear;
    text-align: center;
}

.video_slider-title.active {
    opacity: 1;
}

.video_slider-title span {
    font-family: "PlayfairDisplay", sans-serif;
    font-style: italic;
    font-weight: 400;
    text-transform: capitalize;
    color: #ffd700;
}

@media screen and (max-width: 1024px) {
    .video_slider-title {
        font-size: 45px;
    }

    .video_slider-aim {
        background-size: cover;
    }
}

@media screen and (max-width: 959px) {
    .video_slider-title {
        font-size: 34px;
    }

    .video_slider-aim {
        background-size: cover;
    }
}

@media screen and (max-width: 767px) {
    .swiper-slide {
        max-height: 248px;
    }

    .video_swiper {
        padding: 0 !important;
        /*max-height: 818px;*/
        height: 804px !important;
        max-width: 500px !important;
    }

    .video_slider {
        background: none;
        min-height: auto;
    }

    .video_slider-time,
    .video_slider-next {
        display: none;
    }

    a.slider-link {
        height: 248px;
        min-height: auto;
        width: 440px;
        opacity: 0.3;
    }

    .video_slider-titles {
        bottom: 105px;
    }

    .video_slider-title {
        font-size: 24px;
    }

    .swiper-slide-next,
    .swiper-slide-prev {
        pointer-events: none;
        animation: none;
    }

    .swiper-slide-active {
        animation: none;
    }

    .swiper-slide-active a.slider-link {
        opacity: 1 !important;
    }

    .swiper-pagination {
        /*left: calc(50% - 211px) !important;*/
        top: auto !important;
        bottom: 26px !important;
        left: 0 !important;
        right: 0 !important;
    }

    .video_slider-type {
        left: calc(50% - 30px);
    }

    .video_slider-aim {
        width: 90%;
        height: 66%;
    }

    .video_slider-type,
    .video_slider-menu {
        top: 33px;
        font-size: 10px;
    }

    .video_slider-border {
        width: 461px;
        height: 274px;
    }

    .swiper-pagination-bullet span {
        font-size: 10px;
    }

    .swiper-pagination-bullet {
        width: 19px !important;
        height: 12px !important;
    }

    .swiper-pagination-bullet:nth-child(1).swiper-pagination-bullet-active span:before,
    .swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active span:before,
    .swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active span:before,
    .swiper-pagination-bullet:nth-child(4).swiper-pagination-bullet-active span:before {
        left: -10px;
    }

    .swiper-pagination-bullet:nth-child(6).swiper-pagination-bullet-active span:before,
    .swiper-pagination-bullet:nth-child(7).swiper-pagination-bullet-active span:before,
    .swiper-pagination-bullet:nth-child(8).swiper-pagination-bullet-active span:before,
    .swiper-pagination-bullet:nth-child(9).swiper-pagination-bullet-active span:before {
        left: 2px;
    }

    .swiper-pagination-bullet:nth-child(5).swiper-pagination-bullet-active span:before {
        left: -8px;
    }
}

@media screen and (max-width: 499px) {
    .video_slider {
        height: 812px;
        max-width: 375px;
    }

    a.slider-link {
        height: 248px;
        width: 313px;
    }

    .video_slider-border {
        width: 343px;
        height: 281px;
        background-image: url("content/mobile_border.png");
    }

    .video_slider-aim {
        width: 343px;
        height: 783px;
        background-image: url("content/mobile_border_2.png");
    }

    .video_slider-menu {
        right: 33px;
    }

    .swiper-pagination {
        /*left: calc(50% - 148px) !important;*/
        top: auto !important;
    }

    .video_slider-title {
        font-size: 18px;
    }
}

@media screen and (max-width: 374px) {
    .video_slider,
    .video_swiper {
        max-width: 320px;
        height: 709px !important;
    }

    .swiper-slide {
        height: 223px !important;
    }

    a.slider-link {
        height: 223px;
        width: 290px;
    }

    .video_slider-border {
        width: 306px;
        height: 247px;
    }

    .video_slider-aim {
        width: 305px;
        height: 695px;
    }

    .swiper-pagination {
        /*left: calc(50% - 137px) !important;*/
    }

    .video_slider-title {
        font-size: 16px;
    }

    .video_slider-titles {
        bottom: 90px;
    }
}